<html xmlns:th="http://www.thymeleaf.org">
  <!-- 베스트상품 배너 -->
  <article class="best" th:fragment="_best">
    <h1><i class="fas fa-crown"></i>베스트상품</h1>
    <ol>
      <li th:each="item, index:${bestList}">
        <a href="#">
          <div class="thumb">
            <i>[[${index.index+1}]]</i>
            <img th:src="@{'/thumb/'+${item.cate1}+'/'+${item.cate2}+'/'+${item.thumb1}}" alt="item1">
          </div>
          <h2>[[${item.name}]]</h2>
          <div class="org_price">
            <del>[[${#numbers.formatInteger(item.price, 3, 'COMMA')}]]</del>
			<span>[[${item.discount}]]%</span>
          </div>
          <div class="dis_price">
            <ins>[[${#numbers.formatInteger(item.salePrice, 3, 'COMMA')}]]</ins>
          </div>
        </a>
      </li>
    </ol>
  </article>
            
</html>