<html xmlns:th="http://www.thymeleaf.org">

  <!-- 카테고리 -->
  <ul class="category" th:fragment="_category">     
      <li><i class="fa fa-bars" aria-hidden="true"></i>카테고리</li>
      <li th:each="cate1:${session.cate1List}">
          <a href="#">
          	<i th:if="${cate1.code1==1}" class="fas fa-shopping-bag"></i>
			<i th:if="${cate1.code1==2}" class="fas fa-tshirt"></i>
			<i th:if="${cate1.code1==3}" class="fas fa-baby-carriage"></i>
			<i th:if="${cate1.code1==4}" class="fas fa-utensils"></i>
			<i th:if="${cate1.code1==5}" class="fas fa-home"></i>
			<i th:if="${cate1.code1==6}" class="fas fa-tv"></i>
			<i th:if="${cate1.code1==7}" class="fas fa-running"></i>
			<i th:if="${cate1.code1==8}" class="fas fa-car"></i>
			<i th:if="${cate1.code1==9}" class="fas fa-book"></i>
          	[[${cate1.title}]]
          </a>
          <ol>
              <li th:each="cate2:${cate1.cate2List}">
              	<a th:href="@{/shop/list(cate1=${cate2.code1}, cate2=${cate2.code2}, sort=0)}">[[${cate2.title}]]</a>
              </li>
          </ol>
      </li>
  </ul>

</html>